body{
    font-family: serif;
    text-align: center;
    background-color: #1d1919;
}
h1{
  font-family: serif;
  padding-top: 20px;
  color: #b2fcff;
  font-size: 3rem;
}
h2{
  padding-top: 20px;
  color: #b2fcff;
  font-size: 2rem;
}
p{
  color: #818181;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  line-height: 1.5;
}

table{
    color: #818181;
    border-spacing: 5px;
    border: 1px;
    width: 30%;
    font-size: 1.5rem;
    line-height: 1.5;
}
th, td{
      border: 1px;
}

.navbar{
  
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 2rem;
}
.nav-item{
  padding-left: 18px;
}
.nav-link{
  font-size: 1.2rem;
}



.myImage {
  width: 200px;
  border-radius:50%;
  border: 3px solid #b2fcff;
}

a{
  text-decoration: none;
  color: #818181;
  display: block;
}
a:hover {
  color: #f1f1f1;
}

.sidenav {
  line-height: 2;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
